{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">{% translate "Welcome to Gestão de Stock" %}</h1>
  <p class="lead">{% translate "This is a simple application to manage vehicle stock." %}</p>
  <hr class="my-4">
  <p>{% translate "You can manage clients, vehicles, and other entities." %}</p>
  <a class="btn btn-primary btn-lg" href="{% url 'Encomenda_Veiculos:client_list' %}" role="button">{% translate "View Clients" %}</a>
</div>
{% endblock %}
