{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{{ object.vehicle }}</h2>
    <p>{% translate "Origin" %}: {{ object.origin }}</p>
    <p>{% translate "Destination" %}: {{ object.destination }}</p>
    <p>{% translate "Date" %}: {{ object.date }}</p>
    <a href="{% url 'Encomenda_Veiculos:internaltransport_update' object.pk %}">{% translate "Edit" %}</a>
    <a href="{% url 'Encomenda_Veiculos:internaltransport_delete' object.pk %}">{% translate "Delete" %}</a>
{% endblock %}