<!DOCTYPE html>
<html>
<head>
    <title>Encomenda Veiculos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'Encomenda_Veiculos:vehicle_list' %}">Vehicles</a></li>
            <li><a href="{% url 'Encomenda_Veiculos:order_list' %}">Orders</a></li>
            <li><a href="{% url 'Encomenda_Veiculos:salesperson_list' %}">Salespersons</a></li>
            <li><a href="{% url 'Encomenda_Veiculos:clientcontact_list' %}">Client Contacts</a></li>
            <li><a href="{% url 'Encomenda_Veiculos:internaltransport_list' %}">Internal Transports</a></li>
            <li><a href="{% url 'Encomenda_Veiculos:ocfstock_list' %}">OCF Stock</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>