<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "Demo Booking App" %}{% endblock %}</title>

    <!-- Bootstrap CSS from local static file -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Your Custom CSS (loads after Bootstrap to allow overrides) -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/ico">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'Encomenda_Veiculos:home' %}">Home</a></li>
                <li><a href="{% url 'Encomenda_Veiculos:salesperson_list' %}">Salespersons</a></li>
                <li><a href="{% url 'Encomenda_Veiculos:clientcontact_list' %}">Client Contacts</a></li>
                <li><a href="{% url 'Encomenda_Veiculos:internaltransport_list' %}">Internal Transports</a></li>
                <li><a href="{% url 'Encomenda_Veiculos:ocfstock_list' %}">OCF Stock</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>